.company{
    display: flex;
    align-items: center;
}

.imageContainer{
    width: 60px; 
    height: 60px; 
    overflow: hidden; 
    border-radius: 50%;
    border: 1px solid lightgray;
    margin-right: 10px;
}

.imageContainer img {
    width: 100%;
    object-fit: cover; 
}

.companyName{
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.companyDate{
    margin-top: 10px;
    font-size: 17px;
    color: gray;
}

.details{
    text-align: left;
}